name: cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: actions/checkout@v5
        with:
          sparse-checkout: |
            pom.xml
          sparse-checkout-cone-mode: false

      - name: Get version
        run: echo "PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_ENV"

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ihl79dev/spring-app:${{ env.PROJECT_VERSION }}

  cd:
    needs: ci
    runs-on: self-hosted
    steps:

      - name: Install argocd
        shell: bash
        run: |
          curl -ksSL -o argocd argocd-server.argocd/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv ./argocd /usr/local/bin/argocd

      -
        name: Argocd app sync
        shell: bash
        run: |
          argocd login https://argocd-server.argocd \
            --insecure \
            --grpc-web \
            --username admin \
            --password ${{ secrets.ARGOCD_PASSWORD }}
          argocd app sync spring-app
